html, body {
  width: 100%;
  height: 100%;
}

%row {
  &::after {
    content: ' ';
    display: table;
    clear: both;
  }
}

.row {
  @extend %row;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

body {
  // display: flex;
  // flex-direction: column;
  margin: 0;
  @extend %row;
}

#canvas {
  width: 600px;
  height: 600px;
  background-color: black;
  position: relative;
  user-select: none;
  div {
    box-sizing: border-box;
  }
}

.creater, .spaceplane-list {
  border: 1px solid gray;
  padding: 10px;
  margin: 0;
}

.spaceplane-list ul {
  height: 100px;
  list-style-type: none;
  padding: 0;
  li {
    display: none;
  }
}

.data-table {
  display: none;
  border-collapse: collapse;
  text-align: center;
  thead {
    background-color: #BBB;
    th {
      padding: 5px 10px;
    }
  }
  tbody td {
    border: 1px solid #BBB;
  }
}
