html, body {
  width: 100%;
  height: 100%;
}

%row {
  &::after {
    content: ' ';
    display: table;
    clear: both;
  }
}

.row {
  @extend %row;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  user-select: none;
}

#canvas {
  background-color: black;
  background-image: url(../imgs/galaxy.jpg);
  background-size: cover;
  position: relative;
  display: block;
  div {
    box-sizing: border-box;
  }
}

.panel {
  color: #BDBDBD;
}

.creater,
.spaceplane-list,
.log {
  border: 1px solid gray;
  padding: 10px;
  margin: 0;
  border-radius: 10px;
}

.creater {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.1);
}

.spaceplane-list {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.1);
  ul {
    height: 100px;
    width: 300px;
    list-style-type: none;
    padding: 0;
    li {
      display: none;
    }
  }
}

.data-table {
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.1);
  display: none;
  border-collapse: collapse;
  text-align: center;
  thead {
    background-color: #BBB;
    th {
      color: black;
      padding: 5px 10px;
    }
  }
  tbody td {
    border: 1px solid #BBB;
  }
  border-bottom: 1px solid #BBB;
}

.log {
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.1);
  label {
    padding-bottom: 10px;
    display: block;
  }
  .list {
    width: 350px;
    height: 400px;
    overflow: auto;
  }
}
